@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box; color:#333;}
ol,ul,li {list-style-type:none;}
a {text-decoration:none; color:#333;}
.subtitle {color:#00a36c; font-size:18px;}

@media (max-width:599px){

}