@charset "utf-8";

* {margin:0; padding:0; box-sizing:border-box; color:#333;}
ol,ul,li {list-style-type:none;}
a {text-decoration:none; color:#333;}
.subtitle {color:#00a36c; font-size:18px; font-family: 'Homemade Apple', sans-serif;}
.extra {font-family: 'Homemade Apple', sans-serif; font-weight:400;}



@media (min-width:600px) and (max-width:999px) {

#nav {width:100%; height:85px; z-index:3; background-color:#fff; display:flex; justify-content:space-between; align-items:center; font-family: 'Jost', sans-serif; font-weight:500; font-size:14px;}

.nav_group1 {display:flex; align-items:center; margin-left:40px;}
.nav_group1 .logo {width:200px; height:60px; background-image:url(../img/5f87c2a41d7435bd9edc771b_logo.svg); background-repeat:no-repeat; background-size:contain; vertical-align:middle;}
.nav_group1 .list {display:none;}
.nav_group1 .list ul {width:500px; display:flex; justify-content:space-around;}
.nav_group1 .list ul li svg {vertical-align:middle; fill:#333;}

.nav_group2 {width:350px; height:50px; display:flex; margin-right:40px; align-items:center; justify-content:space-around;}
.nav_group2 .cartimg {display:flex; padding:10px 30px; border-radius:20px; transition:all 0.3s;}
.nav_group2 .cartimg:hover {background-color:#f4f2f0;}
.nav_group2 .cart {margin-left:15px;}
.nav_group2 .get {background-color:#16bed1; padding:10px 30px; border-radius:20px; transition:all 0.3s ease;}
.nav_group2 .get a {color:#fff;}
.nav_group2 .get:hover {background-color:#00a36c; transform:scale(1.05);}
.list_icon {background-color:#f4f2f0; padding:12px; border-radius:50%; cursor:pointer; transition:all 0.3s ease;}
.list_icon i {display:block; transition:all 0.3s ease;}
.orange {background-color:#fb8c23;}
.list_icon .white {color:#fff;}

.nav_group3 {line-height:45px; height:auto; position:absolute; width:100%; font-family: 'Jost', sans-serif; font-weight:500; font-size:14px; display:none; z-index:5;}
.nav_group3 ul { background-color:#fff;  padding-top:20px; padding-left:40px; padding-bottom: 20px;;}
.nav_group3 ul li svg {vertical-align:middle; fill:#333; padding-left:5px;}
.nav_group3 .group3_box ul li:nth-child(3) a:hover {color:#fb8c23}
.group3_box {height:400px;}

.nav_wave {position:absolute; width:100%; height:36px; background-image:url('https://assets.website-files.com/5f8777f972356e39b046d89f/5f87b874659b80f2013f8836_wave_menu.svg'); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:85px; z-index:3;}

.nav_wave_drop {position:absolute; width:100%; height:36px; background-image:url('https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf6694fcbe30821ace_wave_white_top_3.svg'); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; z-index:3; left:0;}




/* main */
#main {width:100%; height:auto; background:#f4f2f0; position:relative; overflow:hidden;}

.main_wave {position:absolute; width:100%; height:36px; background-image:url('https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf96a9c74681bb8bb6_wave_white_down_1.svg'); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; bottom:0; z-index:2;}

.content {padding-top:180px; text-align:center; position:relative; width:100%; height:700px; margin:0 auto;}

.content h1 {font-size:81px; line-height: 1.05em; margin-bottom:30px;}
.content p {font-size:24px; margin-bottom:40px;}
.content button {padding:25px 65px; border-radius:40px; cursor:pointer;  background-color: #ff3000; color:#fff; border:none; font-size:16px; font-family: 'Jost', sans-serif; font-weight:500; transition:all 0.3s ease;}
.content button:hover {background-color:#fb8c23; transform:scale(1.05);}

.salad1 {width:300px; height:280px; position:absolute; top:-110px; left:-140px;}
.salad2 {width:570px; height:500px; position:absolute; bottom:-280px; left:-320px;}
.salad3 {width:550px; height:480px; position:absolute; top:-120px; right:-380px;}




/* section1 */
.section1 {width:100%; height:400px; margin:0 auto;}
.box1 {width:100%; height:400px; margin:0 auto;  display:flex; align-items:center; justify-content:space-around;}
.feature {width:380px; height:300px; text-align:center; position:relative;}
.feature .icon_red {width:28px; height:28px; position:absolute; top:35px; left:46%;}
.feature h4 {font-size:30px; height:60px; margin-bottom:20px;}




/* section2 */
.section2 {width:100%; height:1000px; position:relative;}
.box2 {width:100%; height:1000px; display:flex; align-items:center; flex-direction:column;}
.box2 .textbox {width:100%; height:500px; background-color:#00a36c; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8b9bf439466a2e75c8dc5e_texture.png); padding:100px 10.5%; overflow:hidden;}

.textbox .subtitle, .textbox p, .textbox h2, .textbox a {color:#fff;}
.textbox .subtitle {font-size:18px;}
.textbox h2 {font-size:44px; line-height:44px; margin-bottom:22px;}
.textbox p {font-size:20px; margin-bottom:40px;}
.textbox a {background-color:#fb8c23; padding:20px 37px; border-radius:50px; font-family: 'Jost', sans-serif; font-weight:500; transition:all 0.3s ease; display:inline-block;}
.textbox a:hover {background-color:#ff3000; transform:scale(1.05);}





.box2 .imgbox {width:100%; height:500px; background-image:url(../img/5f8b9b350d072e18a5c49996_image_1.jpg); background-repeat:no-repeat; background-size:cover;}

.section2_wave_top {position:absolute; width:100%; height:36px; background-image:url('https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf900801608bf2a5c2_wave_white_top_2.svg'); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:0; z-index:2;}
.section2_wave_under {position:absolute; width:100%; height:36px; background-image:url('https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf96a9c74681bb8bb6_wave_white_down_1.svg'); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; bottom:0; z-index:2;}




/* section3 */
.section3 {width:100%; height:1400px;}
.box3 {width:100%; height:1400px; margin:0 auto;}
.box3 .started {width:100%; height:650px; margin:0 auto; display:flex;}

.plate {width:50%; height:650px; background-image:url(../img/5f8ba9295eb38664d61c0857_blob_group_1.svg); background-repeat:no-repeat; background-size:contain; background-position:center; position:relative;}
.plate img {width:100%; height:430px; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}

.Meal {width:50%; height:650px; padding:40px 5%;}
.Meal .subtitle {font-size:18px;}
.Meal h2 {font-size:44px; line-height:44px; margin-bottom:22px;}
.Meal p {font-size:20px; margin-bottom:36px;}

.meal_icon {display:flex; align-items:center; margin-bottom:17px;}
.meal_icon img {width:18px; height:18px; margin-right:14px; vertical-align:middle;}
.meal_icon h6 {font-size:18px; font-weight: 700; vertical-align:top;}

.box3 .plans {width:100%; height:850px; margin:0 auto;}
.plans_text {width:100%; height:200px; margin:0 auto; padding:20px; text-align:center;}
.plans_text .subtitle {font-size:18px;}
.plans_text h2 {font-size:44px; line-height:44px; margin-bottom:22px;}
.plans_text p {font-size:20px; margin-bottom:36px;}

.plans_list {width:97%; height:500px; margin:0 auto; display:flex; align-items:center; justify-content:space-around;}
.price {width:32%; height:460px; border-radius:10px; overflow:hidden; border:1px solid #e8e3df;}

.price_img img {width:100%;}

.price_plan {text-align:center;}
.price_plan a {font-family: 'Jost', sans-serif; font-weight:500;}
.price_plan .colortext {font-size:30px;
    line-height:1.2em;
    font-weight:700;
    color:hsla(186.09625668449198, 80.95%, 45.29%, 1.00);
    margin:22px 0;}

.colortext span {
    margin-left:12px;
    opacity:0.5;
    color:#1f1b1a;
    font-size:18px;
    font-weight:500;
    vertical-align:top;}

.price_plan .a_text {margin-bottom: 12px;}
.price_plan .a_text {
    font-family:Archivo, sans-serif;
    color:#1f1b1a;
    font-size:24px;
    line-height:1.2em;
    font-weight:700; }

.price_plan p {
    max-width:390px;
    font-size:18px;
    line-height:1.6em;
    margin-bottom:24px;}

.price_button1 {color:#fff;
    font-size:14px;
    line-height:1.2em;
    font-weight:500;
    text-align:center;
    letter-spacing:0.06em;
    text-transform:uppercase;
    background-color:hsla(186.09625668449198, 80.95%, 45.29%, 1.00);
    padding: 13px 27px;
    border-radius: 50px;
    display:inline-block;
    transition:all 0.3s ease;}
.price_button1:hover {transform:scale(1.05);}

.price_button2 {color:#fff;
    font-size:14px;
    line-height:1.2em;
    font-weight:500;
    text-align:center;
    letter-spacing:0.06em;
    text-transform:uppercase;
    background-color:hsla(159.75460122699386, 100.00%, 31.96%, 1.00);
    padding: 13px 27px;
    border-radius: 50px;
    display:inline-block;
    transition:all 0.3s ease;}
.price_button2:hover {transform:scale(1.05);}

.price_button3 {color:#fff;
    font-size:14px;
    line-height:1.2em;
    font-weight:500;
    text-align:center;
    letter-spacing:0.06em;
    text-transform:uppercase;
    background-color:#fb8c23;
    padding: 13px 27px;
    border-radius: 50px;
    display:inline-block;
    transition:all 0.3s ease;}
.price_button3:hover {transform:scale(1.05);}




/* section4 */
.section4 {width:100%; height:800px; background-color:#f4f2f0; position:relative;}
.section4_wave {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf6694fcbe30821ace_wave_white_top_3.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:0; z-index:2;}
.section4 .clients {position:relative; width:100%; max-width:1350px; padding:75px 25px; margin:0 auto; text-align:center;}
.clients_text h2 {font-size:44px; line-height:44px; margin-bottom:22px;}

.clients_people {display:flex; align-items:center; justify-content:space-around;}

.clients_people .people {width:22%; height:60%; border-radius:10px;background-color:#fff; margin-top:50px; padding-bottom:30px;}
.people .cicle {border-radius:50%; width:64px; height:64px; margin-top:-30px; margin-bottom:10px;}
.people div {margin-bottom:5px; color: #1f1b1a; font-size: 18px; font-weight:500;}
.people p {max-width:390px; margin-bottom:10px; font-size:18px; line-height:1.6em; padding:10px;}




/* section5 */
.section5 {width:100%; height:800px; background-image:linear-gradient(180deg, rgba(31, 27, 26, 0.35), rgba(31, 27, 26, 0.35)), url(../img/5fa5b46726e380a46bf6dd7e_image_2a.jpg); position:relative; text-align:center; overflow:hidden; background-repeat:no-repeat; background-size:cover;}
.section5_wave_top {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8cd31186eb1624a1494592_wave_grey_top_1.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:0; z-index:2;}
.section5_wave_under {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedfbc4a48058a5be815_wave_white_down_2.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; bottom:0; z-index:2;}

.bigtext {text-align:center; padding:120px 10%;}
.bigtext h2 {margin-bottom:60px; color:#fff; font-size:81px; line-height:1.05em;}
.bigtext h2 span {color:#fff;}
.bigtext a {color:#fff; background-color:#fb8c23; padding:25px 50px; border-radius:50px; line-height:1.2em; letter-spacing:0.06em; font-weight:500; font-family: 'Jost', sans-serif; transition:all 0.3s ease; display:inline-block;}
.bigtext a:hover {background-color:#ff3000; transform:scale(1.05);}




/* section6 */
.section6 {width:100%; height:auto; margin:0 auto; text-align:center;}

.Explore {padding-top:60px;}
.Explore .subtitle {font-size:18px;}
.Explore h2 {font-size:44px; line-height:44px; margin-bottom:22px;}
.Explore p {font-size:20px; margin-bottom:36px;}

.add_to_cart {display:flex; justify-content:space-between; width:97%; margin:0 auto;}
.add {width:32%; height:540px; border-radius:10px; overflow:hidden; border:1px solid #ccc;}
.add_to {width:100%; height:auto; overflow:hidden;}
.add_to a img {width:100%;}

.add h5 {font-size:24px; line-height:1.2em; font-weight:700; margin-top:15px;}
.add .tomato {color:#ff3000;}
.add p {max-width:390px; font-size:18px; line-height:1.6em; margin-bottom:22px; margin-top:15px;}
.add input {margin-right: 8px;
    margin-left: 8px;
    padding: 13px 27px;
    border-radius: 50px;
    background-color: #f4f2f0;
    color: #1f1b1a;
    font-size: 14px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border:none;
    font-family: 'Jost', sans-serif;
    transition:all 0.3s ease;
    cursor:pointer;}
.add input:hover {background-color:#00a36c; color:#fff; transform:scale(1.05);}

.Join_now {width:97%; height:auto; background-color:#fb8c23; margin:0 auto;
margin-top:70px; border-radius:10px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8b9bf439466a2e75c8dc5e_texture.png); display:flex; flex-direction: column; padding-bottom:28px;}
.Join_now img {max-width: 100%;
    vertical-align: middle;
    display: inline-block;}
.Join_now .subtitle {font-size:18px; color:#fff; text-align:left; margin-top:30px; margin-left:15px;}
.Join_now h2 {font-size:44px; line-height:44px; margin-bottom:22px; text-align:left; color:#fff; margin-bottom:20px; margin-left:15px;}
.Join_now a {padding: 20px 52px;
    border-radius: 50px; background-color:#fff;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.06em;
    float:left;
    margin-left:15px;
    font-family: 'Jost', sans-serif;
    transition:all 0.3s ease;
    display:block;}
.Join_now a:hover {background-color:#00a36c; color:#fff; transform:scale(1.05);}




/* section7 */
.section7 {width:100%; height:auto; background-color:#f4f2f0; position:relative; text-align:center; padding-bottom:80px;}
.section7_wave {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f87bedf900801608bf2a5c2_wave_white_top_2.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:0; z-index:2;}

.section7_text {padding-top:70px;}
.section7_text .subtitle {font-size:18px;}
.section7_text h2 {font-size:44px; line-height:52px; margin-bottom:22px;}

.accordion-item {margin:0 auto; width:97%; background-color:#fff; border-radius:10px; margin-bottom:15px; padding:20px}
.accordion-header {display:flex; justify-content:space-between; cursor:pointer; transition:all 0.3s ease;}
.accordion-header:hover {margin-left:7px;}
.accordion-header h6 {display:inline-block; font-size:18px;}
.accordion-header img {transform:rotate(-90deg); cursor:pointer; transition:all 0.5s ease;}
.accordion-header .rotate {transform:rotate(0deg); transition:all 0.5s ease;}
.accordion_content {text-align:left; padding:20px 0; display:none;}




/* section8 */
.section8 {width:100%; height:auto; position:relative; background-image:linear-gradient(180deg, rgba(31, 27, 26, 0.35), rgba(31, 27, 26, 0.35)), url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8cd47a1829f441ed377507_image_3.jpg); background-size:cover;}
.section8_wave_top {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8cd311d401617ab9e58597_wave_grey_top_2.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; top:0; z-index:2;}
.section8_wave_under {position:absolute; width:100%; height:36px; background-image:url(https://assets.website-files.com/5f8777f972356e39b046d89f/5f8e056d5409367b68fb0ad4_wave_footer.svg); background-repeat:repeat-x; background-size:auto; background-attachment: scroll; background-position:50% 50%; bottom:0; z-index:2;}

.bigtext2 {text-align:center; padding:160px 10%;}
.bigtext2 h2 {color:#fff; font-size:81px; line-height:1.05em; margin-bottom:35px;}
.bigtext2 h2 span {color:#fff;}

.bigtext2 .input_text {height: 59px;
    width:360px;
    margin-bottom: 0px;
    padding: 14px 24px;
    border-style: solid;
    border-width: 1px;
    border-color: #e8e3df;
    border-radius: 30px;
    background-color: #fff;
    color: #1f1b1a;
    font-size: 18px;
    line-height: 1.2em;}

.bigtext2 .input_submit {padding: 20px 37px;
    border-radius: 50px;
    background-color: #fb8c23;
    color: #fff;
    font-size: 16px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    border:none;
    margin-left:8px;
    margin-top:22px;
    font-family: 'Jost', sans-serif;
    transition:all 0.3s ease;
    cursor:pointer;}
.bigtext2 .input_submit:hover {background-color:#ff3000; transform:scale(1.05);}




/* footer */
footer {width:100%; height:150px; background-color:#1f1b1a; display:flex; align-items:center; flex-direction:column; font-family: 'Jost', sans-serif; font-weight:500;}

.footer_left img {width: 175px; height: 64px; vertical-align:middle; margin-right:20px;}
.footer_left a {color:#fff; opacity:0.5;}
.footer_left a:hover {opacity:1;}

.footer_rigth {display:flex; align-items:center;}
.footer_rigth >a {color:#fff; opacity:0.5; margin-right:20px;}
.footer_rigth >a:hover {opacity:1;}

.footer_icon {display:flex; align-items:center; justify-content:space-between; width:150px;}
.footer_icon a {padding:14px; background-color:hsla(0, 0%, 100%, 0.1); border-radius:50%; display:inline-block; width:45px; height:45px;}
.footer_icon a img {width:16px; height:16px;}

}